body {
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD
    font-family: "Garamond", serif;
    background-color: #eeeeee;
=======
    font-family: "Muli", sans-serif;
    background-color: mintcream;
>>>>>>> efcf3166f4447df1b91d6288283108ca455dd301
    color: black;
    text-align: center;
}

#header {
    background-color: #590000;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#main {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
}

#bubble-area {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    font-size: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

.placeholder-text {
    margin: 20px 20px;
    color: white;
    padding: 100px 20px;
    background-color: #590000;
}

#choropleth-area {
    margin: 20px 20px;
    color: white;
    padding: 300px 20px;
    background-color: gray;
}

line.tile-line {
    pointer-events: none;
}